@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
 
}

body{
  overflow-x: hidden;
}

button:hover{
  cursor: pointer;
}

button{
  border: none;
}

.page-title{
  @apply text-4xl font-bold font-mono text-orange-600
}


.flex-row{
  @apply flex justify-center items-center
}

.footer-socialIcons{
  @apply text-2xl cursor-pointer
}

.input-box-style{
  @apply block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale-in {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out;
}

.animate-scale-in {
  animation: scale-in 0.8s ease-out;
}
